* {
    box-sizing: border-box;
}

body {
    margin: 75px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    margin: 50px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(122, 122, 122);
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgb(80, 80, 80);
    overflow: hidden;
}

.left-side {
    position: relative;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.right-side {
    width: 60%;
    height: 100%;
    overflow: auto;
}

.signup-form {
    background-color: darkred;
    color: white;
    padding: 40px;
}

.form-row {
    display: flex;
    gap: 25px;
    margin: 5px 0;
}

.form-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}

.checkbox input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

#Benny {
    width: 100%;
}

.odin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    width: 100%;
    margin: 65px 0;
    background-color: black;
    opacity: .7;
}

@font-face {
    font-family: Norse;
    src: url(./Norse-Bold.otf);
}

h1 {
    font-family: Norse;
    font-size: 10rem;
    line-height: .1rem;
}

#logo {
    position: relative;
    width: 20%;
}

.main-text {
    width: 80%;
    margin: 50px 0;
    padding: 0 40px;
}

legend {
    font-size: 24px;
    margin-bottom: 35px;
    font-weight: bold;
}

label {
    font-size: 16px;
    font-weight: bold;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="password"],
.form-row input[type="tel"] {
    font-size: 16px;
}

.form-item input[type="text"]:hover,
.form-item input[type="email"]:hover,
.form-item input[type="password"]:hover,
.form-item input[type="tel"]:hover {
    outline: none;
    border: 2px solid aqua;
    border-radius: 2px;
}

.form-item input[type="text"]:focus,
.form-item input[type="email"]:focus,
.form-item input[type="password"]:focus,
.form-item input[type="tel"]:focus {
    outline: none;
    border: 2px solid aqua;
    border-radius: 2px;
    box-shadow: 3px 3px 3px white;
}

input:invalid {
    border-color: red;
}

input[type="text"]:valid,
input[type="email"]:valid,
input[type="password"]:valid {
    border-color: rgb(28, 247, 28);
    border-radius: 2px;
}

a {
    color: aqua;
}

.submit-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    margin: 40px;
    color: white;
    background-color: darkred;
    border-radius: 15px;
    border-style: none;
    box-shadow: 3px 3px 3px black;
    transition: .2s;
}

.submit-button:hover, .submit-button:active {
    color: darkred;
    background-color: white;
}

.submit-button:hover {
    transform: scale(1.03);
}

.submit-button:active {
    transform: scale(0.98);
    box-shadow: none;
}

.bottom-text {
    font-size: 24px;
    margin: 0 40px;
}